*{
    margin:0;
    padding:0;
}
img,a{
    border: 0;
}
header{
    margin:0px auto;
}
h1{
    text-align: center;
    margin: 2%;
}
div{
    text-align: center;
    margin:0px auto;}
header ul{
    display: inline-block;
    width:44%;
    border:3px solid #f00;
}
li{
    width: 46%;
    min-width: 40%;
    margin: 2%;
    list-style: none;
    float: left;
    position: relative;
}
li a{
   text-indent: -9999px;
    text-decoration: none;
    color: #001c47;
    font-weight: bolder;
    font-size:1em;
    text-align: center;
}
li img{
    border: 1px solid #ffba00;
}
li:nth-child(1) span{
    diaplay:inline-block;
    float: left;
    position: absolute;
    top:0px;
    right:0px;
    width:6%;
    height:4%;
    background: url("tag.png") no-repeat 0px 0px;}
li:nth-child(2) span{
    diaplay:inline-block;
    float: left;
    position: absolute;
    top:0px;
    right:0px;
    width:7%;
    height:5%;
    background: url("tag.png") no-repeat -24px 0px;}
li:nth-child(3) span{
    diaplay:inline-block;
    float: left;
    position: absolute;
    top:0px;
    right:0px;
    width:7%;
    height:4%;
    background: url("tag.png") no-repeat 0px -24px;}
li:nth-child(4) span{
    diaplay:inline-block;
    float: left;
    position: absolute;
    top:0px;
    right:0px;
    width:7%;
    height:5%;
    background: url("tag.png") no-repeat -24px -24px;}
li img.img01{
    height:480px;
    overflow: hidden;
    display:block;
    background:url("images.png") no-repeat -300px -290px;
    margin:0 auto;
}li img.img02{
    height:480px;
    overflow: hidden;
    display:block;
    background:url("images.png") no-repeat -1200px 0px;
    margin:0 auto;
}li img.img03{
    height:480px;
    overflow: hidden;
    display:block;
    background:url("images.png") no-repeat -300px -1800px;
    margin:0 auto;
}li img.img04{
    height:480px;
    overflow: hidden;
    display:block;
    background:url("images.png") no-repeat -1300px -1800px;
    margin:0 auto;
}
@media only screen and (max-width :1200px) {
    li {
        float: none;
        width: 95%;
    }
}
@media only screen and (max-width :680px) {
    ul{
        width: 70%;
    }
    li {
        float: none;
        width: 95%;
    }
}
@media only screen and (max-width :480px) {
    ul{
        width: 97%;
    }
    li {
        float: none;
        width: 95%;
    }
}

