* {
	margin: 0;
	padding: 0;
}
body{
	font-family:Verdana,"创艺简细圆"，Geneva, sans-serif;
	}
a {
	text-decoration: none;
	display: block;/*color: #ffffff;*/
}
li {
	list-style: none;
}

div.lb {
	border: 2px solid  #F3F;
	width: 60%;
	border-radius: 45px;
	padding: 50px;
	text-align: center;
	overflow: hidden;
	margin: 10px auto;
	font-size: 32px;
	background-color: #f9f9f9;

}
h4 {
	border-bottom: 2px dotted #cccccc;
	width: 70%;
	margin: 0 auto;
	padding-bottom: 15px;
}
/**/
.lb ul {
	width: 60%;
	margin: 30px auto 0px auto;
	/*background-color: #dedede;*/
	border-radius: 25px;
	padding: 25px;
	border: 2px solid#0CF;
	overflow: hidden;
}
.lb ul li {
	float: left;
	font-size: 12px;
	color: #001c47;
	background-color:#0CF;
	border-radius: 34px;
	margin: 10px;
	box-sizing:content-box;
}
.lb ul li a{	padding: 10px 15px;
}
.lb ul li:hover {
	color: #ffffff;
	background:  #F3F;
	cursor: pointer;/*    font-weight: bolder;
*/}
#zt span,#zt a{
	border-radius: 34px;
	font-size: 12px;
	color: #001c47;
	background-color:#0CF;
}
#zt span:hover,#zt a:hover {
	color: #ffffff;
	background:  #F3F;
	cursor: pointer;/*    font-weight: bolder;
*/}
#zt ul{
	margin-top:-2px;
	padding:0px;
	width:174px;
	border:none;
	position:absolute;
}
#zt ul li{
	float:none;
	line-height:2px;
	padding:0px;
}
#zt ul li:hover{
	background-color:#fffffff;
	border:#fff solid 1px;
	}
#zt ul {
	display: none;
}
h6 {
	text-align: left;
	font-weight: 100;
	width: 55%;
	margin: 0 auto;
	margin-top: 50px;
	background: #dedede;
	border-radius: 30px;
	display: inline-block;
	padding: 12px;
	line-height: 30px;
}
/*---------------------------*/
.layer{
	border-radius:30px;
	margin:0px auto;
	margin-bottom:545px;
	width:10%;
	text-align:center;
	line-height:20px;
	}
.layer span a{
	font-size:16px;
	color:#FFF;
	border:#f90 solid 1px;
	border-bottom:#fff solid 1px;
	background:#F90;
	padding:5px;
	font-weight:600;
	}	

.layer ul{display:none;	border:#F90 solid 1px;border-top:none
}
.layer ul li a{
	font-size:12px;
	color:#FFF;
	background:#F90;
	padding:5px 5px 5px 37px;
	text-align:left;
	line-height:10px;
	}
.layer ul li a:hover{
	background:#FFF;
	color:#F90;
	font-weight:600;
	margin:1px;
}